h1 {
    margin-top: 25px;
}
h1, div, h5, .container{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
div ul {
    list-style: none;
    padding: 0;
}
input{
    width: 300px;
    margin: 0 auto;
}
button {
    float: right;
    margin-right: 50px;
}
table {
    text-align: center;
}
.btn-danger {
    margin-right: 25px;
}
textarea, #botonEditar {
    margin-bottom: 30px;
}


