<details class="wrapper">

    <summary>
        <span class="summary-title">1 - Introducción a Angular</span>
        <div class="summary-chevron-up">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-chevron-down">
                <polyline points="6 9 12 15 18 9"></polyline>
            </svg>
        </div>
    </summary>

    <article class="summary-content">

        <details>

            <summary>
                <span class="summary-title">1.1 - ¿Qué es Angular?</span>
                <div class="summary-chevron-up">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-chevron-down">
                        <polyline points="6 9 12 15 18 9"></polyline>
                    </svg>
                </div>
            </summary>

            <div class="summary-content">

                <details>


                    <summary>
                        <span class="summary-title">1.1.1 - Historia y evolución.</span>
                        <div class="summary-chevron-up">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-chevron-down">
                                <polyline points="6 9 12 15 18 9"></polyline>
                            </svg>
                        </div>
                    </summary>

                    <div class="summary-content">

                        <p>
                            Angular es un marco (framework) de desarrollo de aplicaciones web desarrollado y mantenido
                            por
                            Google. Su historia y evolución se remontan a varios años. Aquí hay un resumen de las
                            principales
                            etapas:
                        </p>

                        <h2>- AngularJS (2010)</h2>

                        <p>AngularJS fue lanzado por Google en 2010 y fue la primera versión de Angular.
                            Fue creado por Misko Hevery y Adam Abrons como un marco de JavaScript para construir
                            aplicaciones de
                            una sola página (SPA).
                            Introdujo la vinculación de datos bidireccional, una característica que permitía la
                            sincronización
                            automática entre la vista y el modelo.
                        </p>

                        <h2>- Angular 2+ (2016 en adelante):</h2>

                        <p>Angular 2, lanzado en 2016, fue una reescritura completa de AngularJS y no fue compatible con
                            la
                            versión anterior.
                            Se reescribió en TypeScript, un superconjunto tipado de JavaScript.
                            Introdujo el concepto de componentes como bloques de construcción fundamentales y mejoró
                            significativamente el rendimiento.
                            Adoptó un enfoque más modular y se centró en el desarrollo de aplicaciones de grandes
                            dimensiones.
                        </p>

                        <h2>- Angular 4 (2017):</h2>

                        <p>La versión 3 fue omitida para evitar confusiones con otra librería llamada Router 3.
                            Angular 4 fue una actualización menor pero trajo mejoras en el rendimiento y nuevas
                            características.
                        </p>

                        <h2>- Angular 5, 6, 7, 8 (2017-2019):</h2>

                        <p>
                            Estas versiones siguieron mejorando el rendimiento, la seguridad y la facilidad de uso.
                            Se introdujeron características como la compilación incremental, mejoras en el servicio de
                            HTTP
                            y
                            actualizaciones en Angular CLI.
                        </p>

                        <h2>- Angular 9 (2020):</h2>

                        <p>Introdujo la compatibilidad total con TypeScript 3.7, mejoras en la compilación y la
                            actualización de
                            dependencias.
                            También presentó Ivy, una nueva arquitectura de renderizado y compilación que mejoró el
                            rendimiento
                            y redujo el tamaño de las aplicaciones.
                        </p>

                        <h2>Angular 10, 11, 12 (2020-2021):</h2>

                        <p>Estas versiones continuaron mejorando la estabilidad, el rendimiento y la facilidad de uso.
                            Se introdujeron características como actualizaciones en Angular CLI, mejoras en Ivy y
                            optimizaciones
                            de rendimiento.
                        </p>

                        <h2>- Angular 13 (2022):</h2>

                        <p>Las versiones más recientes continuarán evolucionando y mejorando la plataforma, y es
                            probable
                            que
                            introduzcan nuevas características y mejoras de rendimiento.
                            A lo largo de su evolución, Angular ha mantenido su posición como un marco sólido y robusto
                            para
                            el
                            desarrollo de aplicaciones web, especialmente para proyectos empresariales y de gran
                            envergadura.
                            La comunidad de Angular, junto con el equipo de desarrollo de Google, ha trabajado
                            constantemente
                            para mejorar y mantener la calidad y la eficiencia del marco.
                        </p>

                        <div class="summary-chevron-down">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-chevron-up">
                                <polyline points="18 15 12 9 6 15"></polyline>
                            </svg>
                        </div>
                    </div>
                </details>

                <details>

                    <summary>
                        <span class="summary-title">1.1.2 - Características principales.</span>
                        <div class="summary-chevron-up">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-chevron-down">
                                <polyline points="6 9 12 15 18 9"></polyline>
                            </svg>
                        </div>
                    </summary>
                    <div class="summary-content">
                        <ul>
                            <li>Separa el frontend y el backend de una aplicación de una forma bastante clara, para
                                evitar
                                así
                                que ambos se mezclen.</li>
                            <li>Permite simplificar mucho el código, ya que es un framework que nos permite realizar
                                bastantes
                                cosas con poco código., siguiendo el modelo vista controlador y basándose en los
                                componentes.
                            </li>
                            <li>Además, una de las características que tiene es que es un framework de código abierto,
                                permitiendo así que todo el mundo pueda leerlo, usarlo y editarlo.</li>
                            <li>Angular utiliza plantillas para definir la interfaz de usuario de la aplicación,
                                combinando
                                estas plantillas con el código del componente para renderizar la vista final que el
                                usuario
                                ve.
                            </li>
                            <li>Está construido con TypeScript, mejorando la capacidad de mantenimiento y detección de
                                errores
                                en el código.</li>
                            <li>Son objetos singleton, proporcionando funcionalidades compartidas en toda la aplicación.
                            </li>
                            <li>Utiliza un sistema de inyección de dependencias para gestionar y organizar componentes,
                                facilitando la creación, prueba y mantenimiento de aplicaciones al permitir una mejor
                                modularidad.</li>
                        </ul>

                        <div class="summary-chevron-down">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-chevron-up">
                                <polyline points="18 15 12 9 6 15"></polyline>
                            </svg>
                        </div>
                    </div>
                </details>

                <details>

                    <summary>
                        <span class="summary-title">1.1.3 - Diferencias entre angular y otras tecnologías.</span>
                        <div class="summary-chevron-up">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-chevron-down">
                                <polyline points="6 9 12 15 18 9"></polyline>
                            </svg>
                        </div>
                    </summary>

                    <div class="summary-content">
                        <p>A continuación vamos a comparar Angular con varios frameworks que al igual que Angular, te
                            permite
                            construir aplicaciones de una sola página, por lo tanto podemos decir que son la competencia
                            del
                            mercado. Estos frameworks son Vue.js y React.
                        </p>

                        <h2>1. Arquitectura y Complejidad:</h2>

                        <ul>
                            <li><strong>Angular:</strong> Utiliza una arquitectura más completa y estructurada.
                                Proporciona
                                una
                                solución integral para el desarrollo de aplicaciones mediante el uso de módulos,
                                servicios,
                                directivas y otros conceptos.</li>
                            <li><strong>React:</strong> Es una biblioteca para construir interfaces de usuario y
                                requiere la
                                elección de otras bibliotecas y herramientas para tareas como enrutamiento y gestión de
                                estado.
                            </li>
                            <li><strong>Vue.js:</strong> Se encuentra en un punto intermedio, ofreciendo una estructura
                                más
                                flexible que Angular, pero más estructurada que React.</li>
                        </ul>

                        <h2>2. Lenguaje de Plantillas y JSX:</h2>

                        <ul>
                            <li><strong>Angular:</strong> Utiliza lenguaje de plantillas HTML con extensiones propias
                                para
                                la
                                manipulación de datos.</li>
                            <li><strong>React:</strong> Emplea JSX (JavaScript XML) para definir componentes, que es una
                                extensión de JavaScript que se parece a XML/HTML.
                            </li>
                            <li><strong>Vue.js:</strong> Utiliza una combinación de lenguaje de plantillas y opciones de
                                renderizado renderizadas en el lado del cliente.</li>
                        </ul>

                        <h2>3. Gestión de Estado:</h2>

                        <ul>
                            <li><strong>Angular:</strong> Proporciona su propio sistema de gestión de estado,
                                principalmente
                                a
                                través de servicios y la arquitectura de unidireccionalidad de datos.</li>
                            <li><strong>React:</strong> Requiere soluciones externas para la gestión de estado, como
                                Redux o
                                el
                                uso de context API.
                            </li>
                            <li><strong>Vue.js:</strong> Ofrece una forma más sencilla de gestionar el estado dentro de
                                los
                                componentes.</li>
                        </ul>

                        <h2>4. Curva de Aprendizaje:</h2>

                        <ul>
                            <li><strong>Angular:</strong> Tiene una curva de aprendizaje más compleja debido a su
                                arquitectura
                                completa y a la variedad de conceptos que introduce.</li>
                            <li><strong>React:</strong> Es más fácil de aprender para aquellos familiarizados con
                                JavaScript
                                y
                                JSX, pero puede volverse más complejo a medida que se integran más bibliotecas externas.
                            </li>
                            <li><strong>Vue.js:</strong> Es conocido por su curva de aprendizaje suave, siendo más fácil
                                para
                                los principiantes.</li>
                        </ul>

                        <h2>5. Tamaño y Rendimiento:</h2>

                        <ul>

                            <li><strong>Angular:</strong> Puede tener un tamaño de paquete inicial más grande, pero
                                ofrece
                                optimizaciones para el rendimiento.</li>
                            <li><strong>React:</strong> Puede tener un tamaño más pequeño y proporcionar flexibilidad
                                para
                                optimizar el rendimiento según las necesidades del desarrollador.
                            </li>
                            <li><strong>Vue.js:</strong> Tiende a tener un tamaño más pequeño que Angular y ofrece un
                                rendimiento competitivo.</li>

                        </ul>
                    </div>
                    <div class="summary-chevron-down">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-chevron-up">
                            <polyline points="18 15 12 9 6 15"></polyline>
                        </svg>
                    </div>

                </details>
            </div>

            <div class="summary-chevron-down">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-chevron-up">
                    <polyline points="18 15 12 9 6 15"></polyline>
                </svg>
            </div>

        </details>

        <details>

            <summary>
                <span class="summary-title">1.2 - Configuración del entorno de desarrollo.</span>
                <div class="summary-chevron-up">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-chevron-down">
                        <polyline points="6 9 12 15 18 9"></polyline>
                    </svg>
                </div>
            </summary>

            <div class="summary-content">

                <details>

                    <summary>
                        <span class="summary-title">1.2.1 - Instalación de Node.js y npm.</span>
                        <div class="summary-chevron-up">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-chevron-down">
                                <polyline points="6 9 12 15 18 9"></polyline>
                            </svg>
                        </div>
                    </summary>

                    <div class="summary-content">
                        <p>
                            <strong>1.-</strong> El primer paso para llevar a cabo la instalación de node sería ir al
                            apartado
                            de descargas de su página principal <a href="https://nodejs.org/en/download">[Node]</a> y
                            descargar
                            la versión correspondiente a nuestro
                            dispositivo.
                        </p>

                        <br>

                        <div class="modulo-img-container">
                            <img src="assets/module_images/module1/instalacion_node/1.webp"
                                alt="Paso 1 instalación Node">
                        </div>

                        <br>

                        <p>
                            <strong>2.-</strong> Una vez descargado, procederemos a ejecutar el archivo e instalar node,
                            presionando el botón de Next en todas las ventanas emergentes y marcando la opción que se
                            puede
                            observar en la anterior imágen.
                        </p>

                        <br>

                        <div class="modulo-img-container">
                            <img src="assets/module_images/module1/instalacion_node/2.webp"
                                alt="Paso 2 instalación Node">
                        </div>

                        <br>

                        <p>
                            <strong>3.-</strong> Cuando finalice la instalación de node, se abrirá una terminal con el
                            siguiente
                            mensaje. Simplemente se debe presionar cualquier tecla para proceder con la instalación de
                            los
                            componentes adicionales que son necesarios para un correcto funcionamiento de node.
                        </p>

                        <br>

                        <div class="modulo-img-container">
                            <img src="assets/module_images/module1/instalacion_node/3.webp"
                                alt="Paso 3 instalación Node">
                        </div>

                        <br>

                        <p>
                            <strong>4.-</strong> Una vez finalizada la instalación de todos los componentes necesarios,
                            comprobaremos que la instalación se ha llevado a cabo de manera correcta escribiendo los
                            comandos
                            representados en la imágen dentro de la terminal. Estos comandos sirven para ver la versión
                            de
                            node
                            instalada y la versión de npm instalada.
                        </p>

                        <br>

                        <div class="modulo-img-container">
                            <img src="assets/module_images/module1/instalacion_node/4.webp"
                                alt="Paso 4 instalación Node">
                        </div>

                        <div class="summary-chevron-down">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-chevron-up">
                                <polyline points="18 15 12 9 6 15"></polyline>
                            </svg>
                        </div>
                    </div>
                </details>

                <details>

                    <summary>
                        <span class="summary-title">1.2.2 - Instalación de Angular CLI.</span>
                        <div class="summary-chevron-up">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-chevron-down">
                                <polyline points="6 9 12 15 18 9"></polyline>
                            </svg>
                        </div>
                    </summary>

                    <div class="summary-content">
                        <p>
                            <strong>1.-</strong> Para comenzar con la instalación de Angular CLI, ejecutaremos desde la
                            terminal
                            el siguiente comando “npm install -g &commat;angular/cli”. Este comando instala de manera
                            global
                            el
                            paquete
                            de Angular CLI en nuestro equipo para que podamos utilizarlo desde cualquier ruta de nuestro
                            equipo.
                        </p>

                        <br>

                        <div class="modulo-img-container">
                            <img src="assets/module_images/module1/instalacion_angular/1.webp"
                                alt="Paso 1 instalación Angular CLI">
                        </div>

                        <br>

                        <p>
                            <strong>2.-</strong> Para comprobar que Angular CLI se ha instalado de manera correcta
                            ejecutamos el
                            comando: “ng version”. Al ejecutar este comando debería de salir la pantalla mostrada en la
                            imagen
                            anterior dónde se detalla la versión de Angular instalada y la versión de Node.
                        </p>

                        <br>

                        <div class="modulo-img-container">
                            <img src="assets/module_images/module1/instalacion_angular/2.webp"
                                alt="Paso 2 instalación Angular CLI">
                        </div>
                    </div>
                    <div class="summary-chevron-down">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-chevron-up">
                            <polyline points="18 15 12 9 6 15"></polyline>
                        </svg>
                    </div>
                </details>

            </div>
            <div class="summary-chevron-down">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-chevron-up">
                    <polyline points="18 15 12 9 6 15"></polyline>
                </svg>
            </div>
        </details>

    </article>

    <div class="summary-chevron-down">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-chevron-up">
            <polyline points="18 15 12 9 6 15"></polyline>
        </svg>
    </div>

</details>