<div id="angular-animation" class="wrapper">

    <div>
        
        <iframe id="video-manual" src="https://www.youtube.com/embed/iSj3a_nALYk?si=Pp1v4eSKCaGGPZfX"
        title="Vídeo de Manual de Angular" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen>
        </iframe>

        <video src="assets/animacion_angular.webm" id="angular-animacion-video"></video>

    </div>
    
    <app-btn-snake [inputText]="'COMENZAR >'" id="btnComenzar" (click)="animacion()"></app-btn-snake>
    <span id="angular-animation-separator"></span>
    
</div>