    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

        <div>
            <form id="formularioLogin" [formGroup]="usuarios">
                <h2>Iniciar Sesión</h2>
                <div id="usuario">
                    <label>Usuario: </label>
                    <input type="text" placeholder="Introduzca usuario" formControlName="usuario">
                    @if (this.usuarios.get('usuario')?.errors?.['required']) {
                        <br>
                        <span id="spanUsuario">El usuario es obligatorio</span>
                    }
                </div>
                <div id="password">
                    <label>Contraseña: </label>
                    <input type="text" placeholder="Introduzca contraseña" formControlName="password">
                    @if (this.usuarios.get('password')?.errors?.['required']) {
                        <br>
                        <span id="spanPassword">La contraseña es obligatoria</span>
                    }
                </div>
                <button id="iniciarSesion" class="btn btn-primary" (click)="buscarUsuarioLogin()">Iniciar Sesión</button>
                <button id="cancelar" class="btn btn-secondary" (click)="cancelarLogin()">Cancelar</button>
                <div id="enlace">
                    <a href="/formulario-registro">Registrarse</a>
                </div>
                <div id="enlaceUsuario">
                    <a href="/formulario-usuarios">Modificar Usuario</a>
                </div>
            </form>
        </div>

