<!DOCTYPE html>
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>


</head>
<body>
    <div>
        <form id="formularioLogin">
            <h2>Iniciar Sesión</h2>
            <div id="usuario">
                <label>Usuario: </label>
                <input type="text" placeholder="Introduzca usuario">
            </div>
            <div id="password">
                <label>Contraseña: </label>
                <input type="password" placeholder="Introduzca contraseña">
            </div>
            <button id="iniciarSesion" class="btn btn-primary">Iniciar Sesión</button>
            <button id="Cancelar" class="btn btn-secondary">Cancelar</button>
            <div id="enlace">
                <a href="/proyectoIndividualDavid5/src/app/formularios/formulario-registro/formulario-registro.component.html">Registrarse</a>
            </div>
        </form>
    </div>
</body>

