<section id="inicio">

    <app-angular-animation></app-angular-animation>

</section>

<div id="main-title">
    <h1>Manual de Angular</h1>
    
    <div>
        <app-btn-pill dataHref="assets/downloads/Documentacion.pdf" dataDownload="Documentacion-Angular" dataInnerText="Documentación"></app-btn-pill>
        <app-btn-pill bgColor="#D6002F" hBgColor="#BD002E" dataHref="assets/downloads/Presentacion.pdf" dataDownload="Presentacion-Angular" dataInnerText="Presentación"></app-btn-pill>
    </div>

</div>

<section id="modulos">
    <app-modulo-uno></app-modulo-uno>
    <app-modulo-dos></app-modulo-dos>
    <app-modulo-tres></app-modulo-tres>
    <app-modulo-cuatro></app-modulo-cuatro>
    <app-modulo-eventos></app-modulo-eventos>
    <app-modulo-cinco></app-modulo-cinco>
    <app-modulo-seis></app-modulo-seis>
</section>

<span id="mensaje_copiado">¡Texto Copiado!</span>
