<form [formGroup]="formularioRegistro" (ngSubmit)="enviarFormulario()">
    <h2>Registro de Usuarios</h2>
    <!-- Campo Nombre de Usuario -->
    <label for="nombreAlumno">Nombre de Usuario:</label>
    <input type="text" id="nombreUsuario" name="nombreUsuario" formControlName="nombreUsuario">

    <br>

    <!-- Campo Usuario -->
    <div>
        <label for="usuario">Usuario:</label>
        <br>
        <input type="text" id="usuario" name="usuario" formControlName="usuario" [readOnly]="true">

        <!-- Botón para Generar Usuario -->
        <button type="button" (click)="generarUsuario()">Generar Usuario</button>
    </div>

    <br>

    <!-- Campo de Email -->
    <div>
        <label for="email">Correo Electrónico:</label>
        <br>
        <br>
        <input type="email" id="email" name="email" formControlName="email">

        @if (this.formularioRegistro.get('email')?.errors?.['required']) {
        <span>(El email es obligatorio)</span>
        }@else if (this.formularioRegistro.get("email")?.errors?.['emailMismatch']){
        <span>(Debe introducir un email válido)</span>
        }
    </div>

    <br>
    <!-- Campo Contraseña -->
    <div>

        <label for="contrasena">Contraseña:</label>
        <br>
        <br>
        <input type="password" id="contrasena" name="contrasena" formControlName="contrasena">

        @if (this.formularioRegistro.get('contrasena')?.errors?.['required']) {

        <span>(La contraseña es obligatoria)</span>
        } @else {
        @if (this.formularioRegistro.get('contrasena')?.errors?.['minlength']) {
        <span>(La contraseña debe tener al menos 8 caracteres)</span>
        } @else {
        @if (this.formularioRegistro.get('contrasena')?.errors?.['maxlength']) {
        <span>(La contraseña debe tener máximo 12 caracteres)</span>
        }
        }
        }
    </div>
    <br>

    <!-- Campo Confirmar Contraseña -->
    <div>
        <label for="confirmarContrasena">Confirmar Contraseña:</label>
        <br>
        <br>
        <input type="password" id="confirmarContrasena" name="confirmarContrasena"
            formControlName="confirmarContrasena">

        @if (this.formularioRegistro.get('confirmarContrasena')?.errors?.['required']) {

        <span>(La contraseña es obligatoria)</span>
        } @else {
        @if (this.formularioRegistro.get('confirmarContrasena')?.errors?.['minlength']) {
        <span>(La contraseña debe tener al menos 8 caracteres)</span>
        } @else {
        @if (this.formularioRegistro.get('confirmarContrasena')?.errors?.['maxlength']) {
        <span>(La contraseña debe tener máximo 12 caracteres)</span>
        } @else {
        @if(this.formularioRegistro.errors?.['passwordMismatch']){
        <span>(La contraseña debe coincidir)</span>
        }
        }
        }
        }
    </div>

    <br>

    <!-- Botón de Enviar -->
    <button type="submit">Enviar</button>

    <div id="tablaUsuarios" [innerHTML]="tablaUsuario">


    </div>


</form>