<main id="app-container">

    <section id="inicio">

        <app-angular-animation></app-angular-animation>
    
    </section>

    <div id="main-title">
        <h1>Manual de Angular</h1>
        
        <div>
            <app-btn-pill dataHref="assets/downloads/Documentacion.pdf" dataDownload="Documentacion-Angular" dataInnerText="Documentación"></app-btn-pill>
            <app-btn-pill bgColor="#D6002F" hBgColor="#BD002E" dataHref="assets/downloads/Presentacion.pdf" dataDownload="Presentacion-Angular" dataInnerText="Presentación"></app-btn-pill>
            <app-btn-modo></app-btn-modo>
        </div>

    </div>

    <section id="modulos">
        <app-clipboard contenido="Hola buenos dias me llamo Juan"></app-clipboard>
        <app-modulo-uno></app-modulo-uno>
        <app-modulo-dos></app-modulo-dos>
        <app-modulo-tres></app-modulo-tres>
        <app-modulo-eventos></app-modulo-eventos>

    </section>

</main>

<router-outlet></router-outlet>