<h1>Gestión de lista de videojuegos</h1>
<hr>
<fieldset>
    <legend>Añadir Videojuego</legend>

    <form (ngSubmit)="crearVideojuego()" [formGroup]="formV">
        <label for="nombre">Nombre</label>
        <input type="text" placeholder="Nombre..." name="nombre" id="inputNombre" formControlName="nombre">
        <br>
        <button type="submit">Crear</button>
        <br>
    </form>
</fieldset>

<fieldset>
    <legend>Buscar Videojuego</legend>

    <form (ngSubmit)="busquedaVideojuegoById()" [formGroup]="formV">
        <label for="nombre">Id</label>
        <input type="text" placeholder="0" name="id" id="inputId" formControlName="id">
        <br>
        <button type="submit">Buscar</button>
        <br>
    </form>
</fieldset>

<fieldset>
    <legend>Eliminar Videojuego</legend>

    <form (ngSubmit)="eliminarVideojuego()" [formGroup]="formV">
        <label for="nombre">Id</label>
        <input type="text" placeholder="0" name="id" id="delInputId" formControlName="id">
        <br>
        <button type="submit">Eliminar</button>
        <br>
    </form>
</fieldset>

<fieldset>
    <legend>Modificar Videojuego</legend>

    <form (ngSubmit)="modificarVideojuego()" [formGroup]="formV">
        <label for="nombre">Id</label>
        <input type="text" placeholder="0" name="id" id="modInputId" formControlName="id">
        <label for="nombre">Nombre</label>
        <input type="text" placeholder="Nuevo nombre..." name="nombre" id="modInputNombre" formControlName="nombre">
        <br>
        <button type="submit">Modificar</button>
        <br>
    </form>
</fieldset>

<table id="tablaVideojuegos">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let videojuego of listaVideojuegos">
            <td>{{ videojuego.id }}</td>
            <td>{{ videojuego.nombre }}</td>
        </tr>
    </tbody>
</table>