*, *:before, *:after {
    box-sizing: inherit;
    font-size: 1.4rem;
}

ul li, ol li{
    margin-top: 5px;
}

.modulo-img-container{
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modulo-img-container img{
    width: 80%;
}

details {
  font-size: 1rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  background: #262626;
  border-radius: 8px;
  position: relative;
}

details .summary-title {
    user-select: none;
    font-size: 2.4rem;
}

details details{
    margin-top: 10px;
}

details details .summary-title{
    font-size: 2rem;
}

details details details .summary-title{
    font-size: 1.7rem;
}

details:hover {
  cursor: pointer;
}

details .summary-content {
  border-top: 1px solid #e2e8f0;
  cursor: default;
  padding: 1em;
  font-weight: 300;
  line-height: 1.5;
}

details summary {
  list-style: none;
  padding: 1em;
}

details summary:focus {
  outline: none;
}

details summary:hover .summary-chevron-up svg {
  opacity: 1;
}

details .summary-chevron-up svg {
  opacity: 0.5;
}

details .summary-chevron-up, details .summary-chevron-down {
  pointer-events: none;
  position: absolute;
  top: 1.8rem;
  right: 1.5rem;
  background: #262626;
}

details svg{
    width: 2.4rem;
    height: 2.4rem;
}

details details svg{
    width: 2rem;
    height: 2rem;
}

details details details svg{
    width: 1.7rem;
    height: 1.7rem;
}

details .summary-chevron-up svg, details .summary-chevron-down svg {
  display: block;
}

details summary::-webkit-details-marker {
  display: none;
}

code{
    font-size: 1.45rem;
}

@media (max-width: 500px){

    *{
        font-size: 1rem;
    }

    details .summary-title {
        user-select: none;
        font-size: 2rem;
    }
    
    details details .summary-title{
        font-size: 1.6rem;
    }
    
    details details details .summary-title{
        font-size: 1.3rem;
    }

    details svg{
        width: 2rem;
        height: 2rem;
    }
    
    details details svg{
        width: 1.6rem;
        height: 1.6rem;
    }
    
    details details details svg{
        width: 1.3rem;
        height: 1.3rem;
    }

    details .summary-chevron-up, details .summary-chevron-down {
        top: 1.3rem;
        right: 1rem;
    }

}
