#formularioRegistro{
    text-align: center;
    margin: 15% 10% 0% 35%;
    border-radius: 10px;
    border: solid black 2px;
    max-width: 400px;
}

#registrar{
    margin: 1%;
}

#nombre{
    margin: 1%;
}

#usuario{
    margin: 1%;
}
#password{
    margin-left: 2%;
}

#email{
    margin: 1%;
}
#spanNombre{
    background-color: rgb(255, 199, 199);
    color: red;
    margin-left: 14%;
}

#spanEmail{
    background-color: rgb(255, 199, 199);
    color: red;
    margin-left: 14%;
}

#spanUsuario{
    background-color: rgb(255, 199, 199);
    color: red;
    margin-left: 14%;
}

#spanPassword{
    background-color: rgb(255, 199, 199);
    color: red;
    margin-left: 25%;
}

#spanFechaNacimiento{
    background-color: rgb(255, 199, 199);
    color: red;
    margin-left: 14%;
}
